@font-face {
    font-family: 'Alex Brush';
    src: url('AlexBrush-Regular.woff2') format('woff2'),
        url('AlexBrush-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sinkin Sans 400';
    src: url('SinkinSans-400Regular.woff2') format('woff2'),
        url('SinkinSans-400Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

