@font-face {
    font-family: 'Alex Brush';
    src: url('./fonts/AlexBrush-Regular.woff2') format('woff2'),
        url('./fonts/AlexBrush-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sinkin Sans 400';
    src: url('./fonts/SinkinSans-400Regular.woff2') format('woff2'),
        url('./fonts/SinkinSans-400Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sinkin Sans 400';
}
:root{
    --main-bg-color:#FF3800;
    --food-border-color:#191919;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    display: flex;
    height: 15%;
    justify-content: space-between;
    padding-right: 10px;
}
#content {
    flex: 1;
}
.generalBody {
    display: flex;
    background-color: var(--main-bg-color);
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    height: 100%;
}
.homeHead{
    display: flex;
    gap: 1em;
}
.generalBody > h1{
    font-size: 2rem;
}
.rouky{
    font-size: 3rem;
    font-family: 'Alex Brush';
    font-weight: 600;
}
nav {
    display: flex;
    flex: 50%;
    align-items: center;
    justify-content: flex-end;
    gap: 3.5rem;
}
nav>button {
    font-size: 2rem;
    padding: .5em;
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}
.homeBody {
    width: 100%;
    height: 100%;
    gap: 10px;
    justify-content: flex-start;
}
.homeImage {
    border-radius: 10px;
    width: 95%;
    height: 400px;
    object-fit: cover;
}
.menuBody {
    gap: 2em;
}
.foodContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.menuImage {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-bottom: 1px solid var(--food-border-color);
}
.food {
    display: grid;
    grid-template-rows: 70% 1fr;

    border: 1px solid var(--food-border-color);
}
.foodBottom {
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.foodHead{
    display: flex;
    justify-content: space-between;
}
.chefImage{
    width: clamp(400px,75%,800px);
    border-radius: 10px;
    height: 400px
}